* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    top: 74px;
    width: 100%;
    text-align: center;
    background: rgb(120, 190, 33);

}

@media screen and (max-width: 1196px) {
    body {
        position: relative;
        top: 138px;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 623px) {
    body {
        top: 202px;
    }
}
/* @media screen and (max-width: 470px) {
    body {
        position: relative;
        top: 266px;
        width: 100%;
        text-align: center;
    }
} */

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    z-index: -1;
}


.video {
    position: fixed;
    width: 100vw; 
    height: 100vh; 
    top: 0;
    left: 0;
    object-fit: cover;
}

header {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0px;
    list-style: none;
    text-align: center;
    background: grey;
    border: 5px groove darkgrey;
}

.nav_buttons {
    vertical-align: top;
    display: inline-block;
    vertical-align: center;
    padding: 10px;
}

.nav_buttons a {
    display: block;
    text-decoration: none;
    border: 5px groove darkgrey;
    background: white;
    padding: 8px;
    color: rgb(98, 27, 27);
    font-weight: 700;
    text-shadow: darkred 1px 1px 1px;
    box-shadow: rgb(127, 62, 62) 2px 2px 3px;
    border-radius: 50%;
}

@media screen and (max-width: 798px) {

    .nav_buttons a {
        border: none;
        padding: 2px;
        color: blue;
        text-decoration: underline;
        text-shadow: none;
        box-shadow: none;
        border-radius: none;
    }
}

#codecademy, #nucamp {
    margin: 10px 100px;
    border: 5px groove darkgrey;
    padding: 20px;
    background: rgba(169, 169, 169, 0.75);
    border-radius: 15%;
}

@media screen and (max-width: 798px) {

    #codecademy, #nucamp {
        margin: 10px 100px;
        border: 5px groove darkgrey;
        padding: 20px;
        background: darkgrey;
        border-radius: 0%;
    }
}

@media screen and (max-width: 662px) {

    #codecademy, #nucamp {
        min-width: 400px;
    }
}

.cc_container, .nc_container {
    border: 5px groove darkgrey;
    margin: 8px;
    padding: 96px;
    background: white;
    border-radius: 35%;
    line-height: 1.5rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 798px) {

    .cc_container, .nc_container {
        border: 5px groove darkgrey;
        margin: 8px;
        padding: 60px;
        background: white;
        border-radius: 0%;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 662px) {

    .cc_container, .nc_container {
        min-width: 350px;
    }
}

.cc_container, .nc_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .container-1-box {
    flex-basis: 20%;
  }

#codecademy h2 {
    padding-bottom: 30px;
}

img {
    border: 1px solid black;
}

.intro_title {
    padding-bottom: 20px;
    font-size: 2.5rem;
}

#contact {
    border: 5px groove darkgrey;
    width: 100%;
    background: grey;
}

.contact_title {
    padding-bottom: 20px;
    font-size: 2.5rem;
    margin-top: 20px;
}

#contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
#contact li {
    display: inline-block;
    width: auto;
    padding: 0 10px 10px 10px;
}
  
#contact a {
    display: block;
    text-decoration: none;
    border: 5px groove darkgrey;
    margin: 5px;
    padding: 8px;
    width:fit-content;
    color: rgb(98, 27, 27);
    background: white;
    font-weight: 700;
    text-shadow: darkred 1px 1px 1px;
    box-shadow: rgb(127, 62, 62) 2px 2px 3px;
    border-radius: 50%;
}

@media screen and (max-width: 783px) {

    #contact a {
        padding: 5px;
        border: none;
    }
}

@media screen and (max-width: 672px) {

    #contact a {
        padding: 2px;
        border: none;
        background: none;
        box-shadow: none;
        text-shadow: none;
        color: blue;
        text-decoration: underline;
    }
}

a:hover {
    color: red;
    border: 5px solid gold;
}

#contact a:hover {
    color: red;
    border: 5px solid gold;
}
